<div
  class="post"
  style="padding: .5%; width: 25vw; height: auto; word-wrap: break-word;"
>
  <h3><a href="/users">{{{user}}}</a> just shared a post</h3>
  <p>{{{content}}}</p>
  <p> {{{time}}} {{{unit}}} ago...</p>
</div>