<h3>Hello {{{name}}}</h3>
<form action="/post" method="post">
  <input type="text" placeholder="Post what you're feeling..." name="content" id="postContent" required>
  <button type="submit">Post</button>
</form>
<a href="/logout">Logout</a>
{{#each posts}}
  {{> post heading=this.heading content=this.content name=this.userName loggedInEmail=../u_email email=this.userEmail time=this.time unit=this.unit}}
{{/each}}
