@import 'shared/fonts.css';

:root {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.errMsg {
    display: flex;
    max-width: 40%;
    margin-left: 28%;
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
    text-align: center;
    letter-spacing: .45rem;
}
.errMsg i{
    font-size: 5rem;
}